.fundo {
    background-color: rgb(201, 246, 201);
    padding: 10px;
    border-radius: 10px;
}

.fundoVermelho {
    background-color: rgb(248, 176, 176);
    padding: 10px;
    border-radius: 10px;
}