body {
  text-align: center;
  font-size: 19px;
  font-family: "Nunito", sans-serif;
}

h1 {
  background-color: rgb(224, 220, 220);
  border-radius: 10px;
  padding: 10px;
}

input, button {
  font-size: 17px;
  padding: 5px;
}