.header {
    display: flex;
    justify-content: center;
}

.nav {
    margin-left: 10em;
    font-size: 25px;
}

.list {
    display: flex;
    list-style: none;
}

.item {
    margin-right: 2em;
    color: black;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.item:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.307);
    transition: 0.5s ease;
}